<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>TS-list</title>
</head>

<body>

<div class="container mt-5">
    <h1 align="center">  To'xtalishlar ro'yhati </h1>
    <a th:href="@{/plan/newsabablarplan}" class="btn btn-primary btn-sm mb-3"> Add toxtalish </a>
    <form th:action="@{/plan/tsplan}" method="get">
        <input type="date" name="poiskdate" th:value="${poiskdate}" placeholder="??????? ????" size="50">
        <button type="submit" class="btn btn-info">Search</button>
        <button type="submit" class="btn btn-info">Reset</button>
    </form>
    <table class="table table-bordered table-sm mt-2">
        <thead>
        <tr>
            <th>Id</th>
            <th>uchastka</th>
            <th>nachalnik</th>
            <th>master</th>
            <th>brigadir</th>
            <th>smena</th>
            <th>toxtalishsababi</th>
            <th>toxtalishnuktasi</th>
            <th>toxtalishdate</th>
            <th>starttime</th>
            <th>finishtime</th>
            <th>toxtaganvaqt</th>
            <th> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sabablarplan : ${sabablarPlanList}" th:field="${sabablarplan}">
            <td th:text="${sabablarplanStat.index+1}"></td>
            <td th:text="${sabablarplan.uchastka}"></td>
            <td th:text="${sabablarplan.nachalnik}"></td>
            <td th:text="${sabablarplan.master}"></td>
            <td th:text="${sabablarplan.brigadir}"></td>
            <td th:text="${sabablarplan.smena}"></td>
            <td th:text="${sabablarplan.toxtalishsababi}"></td>
            <td th:text="${sabablarplan.toxtalishnuktasi}"></td>
            <td th:text="${sabablarplan.toxtalishdate}"></td>
            <td th:text="${sabablarplan.starttime}"></td>
            <td th:text="${sabablarplan.finishtime}"></td>
            <td th:text="${sabablarplan.toxtaganvaqt}"></td>
            <td>
                <a th:href="@{/plan/showFormForUpdate/{id}(id=${sabablarplan.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/plan/deleteSabablar/{id}(id=${sabablarplan.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>




</div>
</body>

</html>